.filter__panel {
    overflow-y: auto;
    height: 32.7rem;
    scrollbar-width: thin; 
    width: 23.5%;
}

.filter__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.filter__controls-label {
    font-weight: 600;
    font-size: 18px
}

.filter__controls-clear {
    color: #156ff7;
    font-weight: 400;
    font-size: 13px;
    cursor: pointer;
}

.filter__controls-span {
    height: 0.8px;
    width: 100%;
    background-color: #D1D5DB;
}

.filter {
    display: flex;
    justify-content: space-between;
    color: #475569;
    font-weight: 400;
    padding-right: 1.75rem;
    align-items: center;
    margin-bottom: 15px;
}

.filter__title {
    font-size: 0.9rem;
    font-weight: 500;
}

/* Switch container styling */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 15px;
}

/* Hide default checkbox appearance */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Switch background (slider track) */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 15px;
}

/* Slider handle */
.slider::before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Toggle when checked */
input:checked+.slider {
    background-color: #156ff7;
}

input:checked+.slider::before {
    transform: translateX(15px);
}

.filter__span {
    height: 0.8px;
    width: 100%;
    background-color: #D1D5DB;
    display: block;
    margin: 25px 0 22px 0;
}

h2 {
    color: #0f172a;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 20px;
}

.filter__region {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.Filter__button{
    font-weight: 300;
    color: #555;
    font-size: .8em;
    border-radius: 20px;
    padding: 5px 7px;
    background-color: #f9fafc;
    border: 1px solid #D1D5DB;
}

.Filter__button.active {
    color: #007bff; 
}